body {
    font-family: Arial, sans-serif;
  }
  
  #car-list, .car-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .car-item {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .car-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  #car-details {
    text-align: center;
  }
  
  #car-details img {
    width: 300px;
    height: auto;
    border-radius: 5px;
  }
  